.main {
  background-color: white;
  max-width: 64rem;
  width: 100%;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  box-shadow: 0 0 1rem #000; 


}
@media(max-width: 64rem) {
  .main {
    width: 90%;
    margin: 0;
    padding: 1rem;
  }
}
